<div class="login-container">
    <div class="login">
        <form [formGroup]="loginForm">
            <div class="logo d-flex justify-content-center p-3 pt-0">
               <img src="assets/images/apptmyzLogo.png" />
            </div>
            <div class="username">
                <input class="form-control" formControlName="username" placeholder="Username" />
            </div>
            <div class="password">
                <input class="form-control" formControlName="password" placeholder="Password"/>
            </div>
            <div class="login-btn">
                <button class="btn form-control">Login</button>
            </div>
        </form>
    </div>
</div>